<!DOCTYPE html>
<html ng-app="ShoppingListApp">

<head>
  <title>Shopping List</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script src="app.js"></script>
</head>

<body ng-controller="ShoppingListController as vm">
  <h1>Shopping List</h1>

  <div class="list-container">
    <h2>To Buy</h2>
    <ul>
      <li ng-repeat="item in vm.toBuyList">
        Buy {{ item.quantity }} {{ item.name }}
        <button ng-click="vm.buyItem($index)">Bought</button>
      </li>
    </ul>
    <p ng-if="vm.isToBuyListEmpty()">Everything is bought!</p>
  </div>

  <div class="list-container">
    <h2>Already Bought</h2>
    <p ng-if="vm.isAlreadyBoughtListEmpty()">Nothing bought yet.</p>
    <ul>
      <li ng-repeat="item in vm.alreadyBoughtList">
        Bought {{ item.quantity }} {{ item.name }}
      </li>
    </ul>
  </div>
</body>

</html>
