<!DOCTYPE html>
<html ng-app="restaurantApp">

<head>
  <title>Restaurant App</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.min.js"></script>
  <script>
    var app = angular.module('restaurantApp', ['ngRoute']);

    app.config(function($routeProvider) {
      $routeProvider
        .when('/', {
          template: '<h2>Welcome to our Restaurant</h2><p><a ng-href="#/categories">View Categories</a></p>'
        })
        .when('/categories', {
          template: '<h2>Categories</h2><ul><li ng-repeat="category in categories"><a ng-href="#/items/{{category.id}}">{{category.name}}</a></li></ul>',
          controller: 'CategoriesController'
        })
        .when('/items/:categoryId', {
          template: '<h2>Items in {{selectedCategory.name}}</h2><ul><li ng-repeat="item in items">{{item.name}} - {{item.price}}</li></ul>',
          controller: 'ItemsController'
        })
        .otherwise({
          redirectTo: '/'
        });
    });

    app.controller('CategoriesController', function($scope, $http, $routeParams) {
      $http.get('API_URL/categories')
        .then(function(response) {
          $scope.categories = response.data;
        })
        .catch(function(error) {
          console.error('Error fetching categories:', error);
        });
    });

    app.controller('ItemsController', function($scope, $http, $routeParams) {
      var categoryId = $routeParams.categoryId;

      $http.get('API_URL/items?categoryId=' + categoryId)
        .then(function(response) {
          $scope.items = response.data;
        })
        .catch(function(error) {
          console.error('Error fetching items:', error);
        });

      $http.get('API_URL/categories/' + categoryId)
        .then(function(response) {
          $scope.selectedCategory = response.data;
        })
        .catch(function(error) {
          console.error('Error fetching category:', error);
        });
    });
  </script>
</head>

<body>
  <div ng-view></div>
</body>

</html>
